body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:  #A5D0CF;
}
#lights{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rebeccapurple;
}
#loops{
    width: 100%;
    height: 80px;
    background-color: yellow;
    display: flex;
    flex-wrap: nowrap;
}
.loop{
    width: 20%;
    height: 20px;
    border: 3px solid black;
    border-radius: 100% 100% 100% 100%;
}
#container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#SnowBox{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}
#SnowFlakeContainer{
    padding: 0px 50px;
    position: absolute;
    top: 0%;
    animation: SnowFall 10s 0s 1 linear;
}
#SnowFlake{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 0%;
    animation: SnowLeftRight 2s 0s infinite ease-in-out alternate;
}
#counterbox{
    width: 50%;
    height: 150px;
    /* background-color: green; */
    border-top: 10px dotted #DE4E37;
    border-bottom: 10px dotted #DE4E37;
    border-left: 0px, solid;
    border-right: 0px, solid;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#day{
    width: 150px;
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#hour{
    width: 150px;
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#minute{
    width: 150px;
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.napis{
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
}
.liczba{
    width: 90%;
    height: 60px;
    font-size: 60px;
    text-align: center;
}

@keyframes SnowFall{
    from{
        top: 0%;
    }
    to{
        top: 100%;
    }
}
@keyframes SnowLeftRight{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}