body{
    width: 98vw;
    height: auto;
    min-height: 97vh;
    background: linear-gradient(rgb(250, 108, 153) 0%, rgb(157, 140, 252) 50%, rgb(0, 200, 223) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 90%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#search{
    width: 50%;
    height: 55px;
    margin-bottom: 50px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#weatherLocation{
    width: 75%;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.fa-search{
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: darkgray;
}
#content{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.weatherbox{
    width: 230px;
    height: 300px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    border: 3px solid white;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* Weatherbox Elements */
.location{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Comfortaa', cursive;
}
.temp{
    width: 70%;
    height: 55px;
    font-size: 50px;
    font-family: 'Sofia', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 150px;
    height: 150px;
}
.info{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}
.cloud{
    width: 40%;
    height: 30px;
    margin-left: 5px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-cloud{
 margin-right: 5px;
}
.wind{
    width: 37%;
    height: 30px;
    margin-right: 5px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Weatherbox Elements END */
input:focus{outline: none;}