body{
    background-color:#3f3f3f;
    height: 100%;
}
#container{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: auto;
    margin-left: auto;
    /* background-color: yellow; */
}
#logo{
    width: 20%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* background-color: red; */
}
#drumsquare{
    width: 65%;
    height: 450px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    /* background-color: red; */
    display: flex;
    flex-wrap: nowrap;
}
#bitboxsquare{
    width:  460px;
    height: 95%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: green; */
}
.elements{
    width: 130px;
    height: 130px;
    background-color: #202020;
    margin: 5px;
    border-radius: 10px;
}
#recordsquare{
    width: 30%;
    height: 95%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #8cc534;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recordfield{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    background-color: #202020;
    border-color: white;
    border-style: solid;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.textfield{
    width: 80px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    text-align: center;
    color: white;
}
.rec{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 30px;
    text-align: center;
}
#metronome{
    width: 90%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 5px;
    background-color:#202020;
    border-radius: 10px;
    justify-content: center;
}
#metronom{
    color: white;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 10px;
}
#wartość{
    width: 80%;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #202020;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
}
.controls{
    width: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
audio{
    display: none;
}
span{
    display: block;
    color: white;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-family: 'Grandstander', cursive;
}
small{
    display: block;
    color: white;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
}